.credits{
    padding-top:1rem;
}
.nav-tabs{
    margin-bottom:0;
}
.content{
    padding:25px;
}
.white{
    background-color: rgba(255,255,255,0.7) !important;
}
.tabs{
    background-color: transparent;
}

.header{
    padding:10px;
}